* {
    color: lightgray;
    font-family: avenir, serif;
    font-weight: lighter;
    background-color: #0b1216;
}

h3 {
    color: #a2d2ff;
}

h2 {
    color: #bde0fe;
    font-weight: bold;
}

.main-title {
    font-weight: bold;
    font-size: xxx-large;
    color: white;
    text-shadow: 7.5px 7.5px 7.5px #ffafcc;
}

.code-box {
    background-color: #0b1216;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

pre {
    white-space: pre-wrap;
    margin: 0;
}

code {
    font-family: "Courier New", Courier, monospace;
    color: lightgray;
}