/* SIDEBAR */
.sidebar {
    background-color: rgba(55, 58, 60, 0.85);
    padding: 2rem;
    box-sizing: border-box;
    position: fixed;
    top: 4.4rem;
    height: 100%;
    width: 18rem;
    overflow-y: auto;
    border-left: 1rem solid #373a3c;
    border-right: 1rem solid #373a3c;
    color: #f0eef1;
}

.sidebar h1 {
    font-size: 1rem;
    font-weight: bold;
    color: #eeecef;
    text-transform: uppercase;
}

.sidebar a {
    position: relative;
    display: block;
    border: 0.25rem solid transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    color: #eceaed;
    text-decoration: none;
}

/* NAV BAR */
.menu a:hover {
    color: #a4a5a6;
    transition: background-color 300ms ease, color 260ms ease, padding 180ms ease;
}

ul.menu  {
    list-style: none;
    padding-left: 0;
}

.nav-link  {
    padding: 0.2rem 0.1rem;
    border-radius: 0.25rem;
}

.navbar {
    position: fixed;
    width: 100%;
}

/* CODE BOX */
code {
    width: 75%;
    border-radius: 0.5rem;
    border: #bababa solid 0.5rem;
}

/* CONTENT */
.content {
    padding-top: 3rem;
    padding-left: 20rem;
}

.question{
    padding-top: 3rem;
}

/* Home page Empty */
.container-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 25rem;
}

.content-homepage {
    text-align: center;
}

